<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Formulario</title>
    <link href="bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Agregar Localidad</h1>
        <form>
            <div class="mb-3 col-sm-4">
                <label>Nombre de la localidad</label>
                <input type="text" class="form-control">
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </form>
        <footer class="mt-4">
            <p>Desarrollado por Catalina Rivarola</p>
        </footer>
    </div>
</body>
</html>